<?xml version="1.0" encoding="utf-8"?>
<image schemaversion="6.5" name="gekon">
    <description type="system">
        <author>Maciej Krawiec</author>
        <contact>maciek.krawiec@zoho.com</contact>
        <specification>Gekon Linux</specification>
    </description>
    <preferences>
        <type
            image="iso"
            primary="true"
            boot="isoboot/suse-leap42.2"
            flags="overlay"
            hybrid="true"
            firmware="efi"
            kernelcmdline="quiet loglevel=3 vga=current"
            hybridpersistent="false"
        />
        <version>0.10</version>
        <packagemanager>zypper</packagemanager>
        <rpm-check-signatures>false</rpm-check-signatures>
        <rpm-force>true</rpm-force>
        <locale>en_US</locale>
        <keytable>us.map.gz</keytable>
    </preferences>
    <profiles>
        <profile name="kde" description="KDE Plasma Desktop" import="true"/>
        <profile name="gnome" description="GNOME Desktop"/>
    </profiles>
    <users>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
        <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/home/linux" name="linux" groups="users,wheel"/>
    </users>
    <repository alias="repo-oss" type="yast2" imageinclude="true" priority="99">
        <source path="obs://leap/42.2/repo/oss"/>
    </repository>
    <repository alias="repo-update" type="rpm-md" imageinclude="true" priority="99">
        <source path="http://download.opensuse.org/update/leap/42.2/oss"/>
    </repository>
    <repository alias="packman" type="rpm-md" imageinclude="true" priority="98">
        <source path="http://ftp.gwdg.de/pub/linux/misc/packman/suse/openSUSE_Leap_42.2"/>
    </repository>
    <repository alias="mkrwc" type="rpm-md" imageinclude="true" priority="97">
        <source path="obs://home:/mkrwc:/gekon/openSUSE_Leap_42.2"/>
    </repository>
    <packages type="image">
        <!-- Base Packages -->
        <package name="kernel-default"/>
        <package name="kernel-firmware"/>
        <package name="memtest86+"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc"/>

        <namedCollection name="gekon_base"/>
        <namedCollection name="gekon_drivers"/>
        <namedCollection name="gekon_gui"/>
        <namedCollection name="gekon_laptop"/>
        <namedCollection name="gekon_yast"/>
    </packages>
    <packages type="image" profiles="gnome">
        <namedCollection name="gekon_gnome"/>
    </packages>
    <packages type="image" profiles="kde">
        <namedCollection name="gekon_kde"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="openSUSE-release"/>
    </packages>
</image>
